<h1>Edit task</h1>

<%= form_for(@task) do |f| %>
    <div class='container'>
      <%= f.label :title%>
      <%= f.text_field :title %>
    </div>
    <div class='container'>
      <%= f.label :details%>
      <%= f.text_area :details %>
    </div>
    <div>
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    </div>
    <div>
      <%= f.submit class:'btn'%>
    </div>
<% end %>

<hr style='margin: 30px 0'>
  <%= link_to tasks_path do%>
    <i class="fas fa-backward"> Back to list</i>
  <% end %>
